#node modules
node_modules

#cache ignore
Furever.Entities/obj/Debug/net5.0/Furever.Entities.csproj.AssemblyReference.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.csproj.AssemblyReference.cache