#node modules
node_modules
Furever.EmailService/obj/Furever.EmailService.csproj.nuget.dgspec.json
Furever.EmailService/obj/Furever.EmailService.csproj.nuget.g.props
Furever.EmailService/obj/project.assets.json
Furever.EmailService/obj/project.nuget.cache
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.assets.cache
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.GeneratedMSBuildEditorConfig.editorconfig
Furever.Entities/obj/Furever.Entities.csproj.nuget.dgspec.json
Furever.Entities/obj/Furever.Entities.csproj.nuget.g.props
Furever.Entities/obj/project.assets.json
Furever.Entities/obj/project.nuget.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.assets.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.csproj.AssemblyReference.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.GeneratedMSBuildEditorConfig.editorconfig
Furever.LoggerService/obj/Furever.LoggerService.csproj.nuget.dgspec.json
Furever.LoggerService/obj/Furever.LoggerService.csproj.nuget.g.props
Furever.LoggerService/obj/project.assets.json
Furever.LoggerService/obj/project.nuget.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.assets.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.csproj.AssemblyReference.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.GeneratedMSBuildEditorConfig.editorconfig
Furever.Repositories/obj/Furever.Repositories.csproj.nuget.dgspec.json
Furever.Repositories/obj/Furever.Repositories.csproj.nuget.g.props
Furever.Repositories/obj/project.assets.json
Furever.Repositories/obj/project.nuget.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.assets.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.csproj.AssemblyReference.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.GeneratedMSBuildEditorConfig.editorconfig
